<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DIEMDOANCK1.Properties.Settings.DIEMDOANCK1ConnectionString"
         connectionString="Data Source=NGUYENTIENDAT\MSSQLSERVER01;Initial Catalog=DIEMDOANCK1;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>